* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    color: #FAF7FF;
    background-color: #0F0F0F;
}

/* NAVBAR */

.navbar {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    gap: 1.25em;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.navbar li {
    list-style: none;
    transition: all 0.2s ease-in-out;
    font-size: 24px;
    flex-shrink: 1;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
}

.navbar li:hover {
    transform: translateY(-4px);
}

.current a {
    color: #8685EF;
}

/* Main container */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding-top: 3em;
}

.main p {
    font-size: 3.25em;
}

.firstname {
    font-weight: 300;
}

.lastname {
    font-weight: 600;
    padding-left: 1.75em;
}

/* Buttons */

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.75em;
    padding-top: 4em;
    flex-direction: column;
}

button {
    border-radius: 100px 100px 100px 100px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #8685EF;
    background-color: #0F0F0F;
    box-shadow: 0 1px 4px #8685EF;
    color: #FAF7FF;
    font-size: 2em;
    font-weight: 300;
}

.btn-download {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.btn-contact {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 2.1em;
    padding-right: 2.1em;
}

.right-side{
    display: none;
}

/*                                     */
/* WARNING MESS A HEAD (MEDIA QUERIES) */
/* WARNING MESS A HEAD (MEDIA QUERIES) */
/*                                     */


/* Special snowflakes */
@media only screen and (max-width: 300px) {
    .navbar {
        gap: .5em;
    }
    .navbar li {
        font-size: 1.25em;

    }
    .lastname {
        font-weight: 600;
        padding-left: 0em;
    }
    button {
        font-size: 1.75em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar {
        gap: 3em;
    }
    .navbar li {
        font-size: 3em;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main p {
        font-size: 7em;
    }
    button {
        font-size: 2.5em;
    }
    .buttons {
        padding-top: 8em;
        flex-direction: row;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar {
        padding-bottom: 1em;
        gap: 4em;
    }
    .navbar li {
        font-size: 2.8em;
    }
    
    .main {
        padding-right: 0;
    }
    .left-side {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: end;
        align-items: center;
        justify-items: center;
    }
    .right-side {
        display: none;
    }
    .name {
        padding-right: 0em;
    }
    .main p {
        font-size: 5.5em;
    }
    button {
        font-size: 2.1em;
    }
    .buttons {
        gap: 4em;
        padding-top: 0;
        padding-left: 1em;
    }
    .lastname {
        padding-left: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar {
        justify-content: right;
        padding-right: 7em;
    }
    html, body {
        margin: 0; 
        height: 100%; 
        overflow: hidden
    }
    .left-side {
        display: flex;
        grid-template-columns: none;
        justify-content: flex-start;
        align-items: center;
        justify-items: start;
        flex-direction: column;
    }
    .firstname {
        padding-right: 2em;
    }
    .lastname {
        padding-left: 2em;
    }
    .main p {
        font-size: 8em;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: left;
        padding-left: 0em;
    }
    .buttons {
        flex-direction: row;
        padding-top: 8em;
        padding-left: 0em;
        justify-content: left;
        gap: 6.5em;
    }
    button {
        font-size: 2.5em;
    }
    .right-side {
        display: flex;
        grid-column: 2 / 2;
        justify-content: center;
    }
    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
}